@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <h1>Välkommen till Kungliga Operan</h1>
    <p class="lead">På den här sidan kan du ansöka till Kungliga Operans kör eller Kungliga Kapellets orkester.</p>
    <p class="lead">Sista Ansökningsdagen är 28 juni 2016</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Till Ansökan! &raquo;</a></p>*@
</div>